.btech-main{
    /* border: 2px solid red; */
    margin-left: 10%;
    margin-right: 10%;
}

.overview{

    margin-top: 50px;
}
.overview h3{
    text-align: center;
    font-size: 36px;
    color: #192956;
    margin-bottom: 20px;
}
.overview p{
    line-height: 40px;
    color: #494949;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}
.btech-main h1{
    margin-top: 50px;
    font-weight: 500;
}
.btech-main h1::after {
  content: '';
  display: block;
  width: 450px; /* or 100% */
  height: 12px;
  background: linear-gradient(to right, #e85624 50%,#192956 50%);
  margin-top: 5px;
  border-radius: 12px;
}

.academics{
    display: flex;
    text-align: center;
   
    
    padding: 20px;

}

.academics h3{
    margin-top: 15px;
    margin-left: 10px;
    color: white;
    font-size: 30px;
   
}
.academics-main{
    background-color: #e85624;
    margin-top: 20px;
    
}

.academics-main p{
    text-align: center;
    justify-content: center;
    margin-left: 80px;
    line-height: 50px;

    
}

.scholarship{
    background-color: #192956;
    color: white;
    margin-top: 15px;

}
.sholarship-sub{
    display: flex;
    padding: 20px;
}
.sholarship-sub h3{
    margin-top: 15px;
    margin-left: 10px;
    color: white;
    font-size: 30px;
}
.scholarship p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.btechprogram{
    margin-top: 15px;
    
}

.program-sub{
    display: flex;
    justify-content: space-between;
    
   
    /* border: 2px solid black; */
}
.program-sub h3{
    padding: 10px;
}
.program-sub p{
    font-weight: bolder;
    font-size: 30px;
    padding-right: 15px;
    cursor: pointer;

}

.btech-program-details {
    
    margin-top: 20px;
    background-color: #192956;
    color: white;


}



.btech-program-details-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

}
.vision {
    display: flex;
   
}

.vision-img{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 30%;
}

.vision-img img{
    border-radius: 40%;
}
.vision-main{
    width: 70%;
    
}
.vision p{
    padding: 50px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 400px;
   

}
.vision p2  {
    padding-left: 70px;
    line-height: 40px;
    display: flex;
    justify-content: center;
}
.vision p::after {
  content: '';
  display: block;
  width:  100px; /* or 100% */
  height: 12px;
  background: linear-gradient(to right, #e85624 50%,white 50%);
  margin-top: 5px;
  border-radius: 12px;
}
.overview-2 p{
     padding: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 400px;
   
}

.overview-2 p::after {
  content: '';
  display: block;
  width:  130px; /* or 100% */
  height: 12px;
  background: linear-gradient(to right, #e85624 50%,white 50%);
  margin-top: 5px;
  border-radius: 12px;
}


.overview-2-text div p2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

